@font-face {
    font-family: "Ailerons";
    src: href(fonts/Ailerons-Typeface.otf) format('otf');
}

:root {
    --royal: rgb(26, 35, 126);
    --back-box: rgba(0, 229, 255, .1);
    --sec-back-box: rgba(13, 71, 161, .8);
    --gold: rgb(255, 234, 0);
}
/* not sure why I couldn't get this one to work -

@font-face {
    font-family: "Big-Caslon";
    src: href(fonts/BigCaslonFB-Regular.ttf) format('ttf');
}

figure out later */

body {
    background-color: var(--royal);
    overflow: scroll;
    margin: 0;
    padding: 0;
}

/* .options and .selections - is how to put 2 divs side to side. Then used a media query to change direction to 'column' for responsivenesss */

.container {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    */
}

.row {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;  
}

.name {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 6.4em;
    margin: 5px;
    color: yellow;
    text-shadow: 
        0 0 5px  rgba(0, 229, 255, .1),
        0 0 10px  lightgoldenrodyellow,
        0 0 15px  rgba(0, 229, 255, .6),
        0 0 30px  lightgoldenrodyellow,
        0 0 60px  rgba(0, 229, 255, .2),
        0 0 80px  lightgoldenrodyellow,
        0 0 50px  rgb(0, 229, 255, .3),
        0 0 100px  lightgoldenrodyellow
        ;
}
/* Name Animation - make sure to always include the text shadow above */

/* Play around with colors and opacities */

.name span {
    -webkit-animation: flicker 1000ms linear;
            animation: flicker 1000ms linear;
    -webkit-animation-duration: 1350ms;
            animation-duration: 1350ms;
}

.name .seven {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

.name .eight {
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
}

.name .nine {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}

@-webkit-keyframes flicker {
    0% {opacity: 0;}
    10% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes flicker {
    0% {opacity: 0;}
    10% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

.men, .women {
    width: 50%;
    height: 90%; 
}

h2#men {
    font-family: "Ailerons", sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: 15%;
    left: 25%;
    text-shadow: 5px 1px 20px lightgoldenrodyellow;
}

h2#women {
    font-family: "Ailerons", sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    text-shadow: 5px 1px 20px lightgoldenrodyellow;
}

a {
    text-decoration: none;
    color: yellow;
    z-index: 4;
}

.backboard {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 229, 255, .1);
    border-radius: 10px;
    /* these next four is to center it within the div*/
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
}

.backboard.b-men {
    box-shadow: 10px 10px 15px rgb(255, 245, 157);
}

.backboard.b-women {
    box-shadow: -10px -10px 15px rgb(255, 245, 157);
}

.box-1 {
    width: 12%;
    height: 15%;
    background-color: rgba(0, 229, 255, .1);
    border-radius: 6px;
    position: absolute;
    top: 32%;
    left: 12%;
}

.box-2 {
    width: 7%;
    height: 3%;
    background-color: rgba(0, 229, 255, .1);
    border-radius: 3px;
    position: absolute;
    top: 65%;
    left: 26%;
    box-shadow: -8px -4px 6px rgb(255, 245, 157);
}

.box-3 {
    width: 7%;
    height: 20%;
    background-color: rgba(0, 229, 255, .1);
    border-radius: 6px;
    position: absolute;
    right: 14%;
    bottom: 32%;
}

.box-4 {
    width: 8%;
    height: 4%;
    background-color: rgba(0, 229, 255, .1);
    border-radius: 3px;
    position: absolute;
    right: 30%;
    bottom: 57%;
    box-shadow: 8px 7px 9px rgb(255, 245, 157);
}
/*
.line-1 {
    width: 25%;
    height: .5%;
    background-color: rgb(0, 229, 255);
    border-radius: 1px ;
    position: absolute;
    right: 10%; 
    filter: blur(1px);
    box-shadow: 1px 1px 9px 3px rgb(0, 229, 255);
}

.line-2 {
    width: .5%;
    height: 30%;
    background-color: rgb(0, 229, 255);
    border-radius: 1px ;
    position: absolute;
    top: 30%;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    box-shadow: 1px 1px 9px 3px rgb(0, 229, 255);
}


.line-3 {
    width: 42%;
    height: .5%;
    background-color: rgb(0, 229, 255);
    border-radius: 1px ;
    position: absolute;
    bottom: 0;
    left: 18%;
    filter: blur(1px);
    box-shadow: 0 0 10px 2px rgb(0, 229, 255);
}


.line-4 {
    width: .5%;
    height: 30%;
    background-color: rgb(0, 229, 255);
    border-radius: 1px ;
    position: absolute;
    bottom: 10%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    box-shadow: 1px 1px 9px 3px rgb(0, 229, 255);
}
------ earlier box decorations           */

@media screen and (max-width: 800px) {
    .men, .women {
        width: 100%;
        height: 40vh;
    }
    .backboard {
        width: 70%;
        height: 70%;
        left: 15%;
    }
    h2#men {
        left: 20%;
    }
    /* ---remove until the browser comp. issue is fixed
    .box-1 {
        left: 20%;
        top: 21%;
        width: 28%;
        height: 12%;
    }
    .box-2 {
        left: 58%;
        top: 45%;
        width: 24%;
        height: 3%;
    }
    .box-3 {
        right: 10%;
        bottom: 13%;
        width: 24%;
        height: 14%;
    }
    .box-4 {
        right: 54%;
        bottom: 31%;
        width: 20%;
        height: 3%;
    }
    */
}