@font-face {
    font-family: "Ailerons";
    src: href(fonts/Ailerons-Typeface.otf) format('otf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --royal: rgb(26, 35, 126);
    --back-box: rgba(0, 229, 255, .1);
    --sec-back-box: rgba(13, 71, 161, .8);
}

body {
    background-color: var(--royal);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    float: left;
    overflow: scroll;
}

.groups {
    flex: 1;
    float: left;
}

h1 {
    color: yellow;
    z-index: 1;
}

a {
    text-decoration: none;
    color: yellow;
}

.new-comers {
    height: 100%;
}

.age-groups {
    font-family: "Ailerons", sans-serif;
    font-size: 1.7em;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    background-color: var(--royal);
    display: flex;
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    width: 50vw;
    height: 100%;
    scroll-behavior: x mandatory;
    scroll-padding: 2px;
}

img {
    width: 50vw;
    height: 100vh;
    -o-object-fit: contain;
       object-fit: contain;
}

.icon-left {
    color: yellow;
    position: relative;
    padding-right: 5%;
    top: 46%;
    font-size: 70px;
    text-shadow: 6px 0 18px white;
    top: 50%;
    transform: translate(0, 50%);
}

.icon-right {
    color: yellow;
    position: relative;
    padding: 0 8%;
    font-size: 70px;
    text-shadow: -6px 0 18px white;
    top: 50%;
    transform: translate(0, 50%);
}

.new-text {
    color: yellow;
    opacity: .8;
    font-family: "Ailerons", sans-serif;
    position: relative;
    display: flex;
    top: 46%;
    font-size: 30px;
    padding-right: 5%;
    top: 50%;
    transform: translate(0, 50%);
}

.decor {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

.eighteen {
    width: 8%;
    height: 5%;
    position: absolute;
    right: 40%;
    background-color: rgba(0, 229, 255, .1);
    border-radius: 6px;
    -webkit-filter: blur(3px);
            filter: blur(3px)
}

.twenty-two {
    width: 5%;
    height: 3%;
    position: absolute;
    right: 28%;
    background-color: rgba(0, 229, 255, .3);
    border-radius: 4px;
    -webkit-filter: blur(3px);
            filter: blur(3px);
}

.twenty-nine {
    width: 7%;
    height: 2%;
    position: absolute;
    right: 10%;
    background-color: rgba(0, 229, 255, .4);
    border-radius: 3px;
    -webkit-filter: blur(5px);
            filter: blur(5px)
}

.forty-three {
    width: 4%;
    height: 4%;
    position: absolute;
    right: .2%;
    background-color: rgba(0, 229, 255, .2);
    border-radius: 6px;
    -webkit-filter: blur(3px);
            filter: blur(3px)
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column;
        height: 100%;
    }
    .groups {
        width: 100%;
    }
    .img-container {
    display: flex;
    overflow-x: scroll;
    position: relative;
    width: 100vw;
    align-items: center;
    height: 50vh;
    scroll-behavior: x mandatory;
    scroll-padding: 2px;
    }
    img {
    width: 100vw;
    height: 40vh;
    -o-object-fit: contain;
       object-fit: contain;
    }
    .icon-left {
        top: 0;
        font-size: 40px;
    }
    .icon-right {
        top: 0;
        font-size: 40px;
        padding-right: 0;
    }
    .new-text {
        top: 0;
        font-size: 13px;
        opacity: 1;
    }
    
    .age-groups {
        flex-direction: column;
    }
    .eighteen {
    width: 24%;
    height: 3%;
    bottom: 46%;
    right: 34%;
    }
    .twenty-two {
    width: 16%;
    height: 1.5%;
    bottom: 30%;
    right: 49%;
    }
    .twenty-nine {
    width: 17%;
    height: 3.5%;
    bottom: 15%;
    right: 35%;
    }
    .forty-three {
    width: 12%;
    height: 3.5%;
    bottom: 1%;
    right: 44%;
    }
    
    
}