:root {
    --royal: rgb(26, 35, 126);
    --back-box: rgba(0, 229, 255, .1);
    --sec-back-box: rgba(13, 71, 161, .8);
    --gold: rgb(255, 234, 0);
}

body {
    font-size: large;
}

div {
    margin-bottom: 5px;
}

.ProfileDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    align-self: center;
    background-color: var(--gold);
}

.section {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 200px;
    margin-bottom: 10%;
}
