@page "/Template"
<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <meta name="description" content="789" />
    <title></title>
    <link rel="stylesheet" href="css/tem.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
    <!-- cards start -->
    <div class="container">
        <div class="row">
            <div class="card-01">
                <div class="peep first">
                    <div class="box-01">
                        <img src="images/women/image-2.jpg" />
                    </div>
                    <div class="circle-01"><a href="index.html"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1001</div>
                    <!--  ----random letters
                    <span><p class="x">x</p><p class="y">Y</p><p class="z">Z</p><p class="w">w</p><p class="t">T</p>
                    </span>
                    ------experimental ---->
                </div>
            </div>
            <div class="card-01">
                <div class="peep first">
                    <div class="box-01">
                        <img src="images/women/image-28.jpg" />
                    </div>
                    <div class="circle-01"><a href="women.html"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1002</div>
                </div>
            </div>
            <div class="card-01">
                <div class="peep first">
                    <div class="box-01">
                        <img src="images/women/image-31.jpg" />
                    </div>
                    <div class="circle-01"><a href="men.html"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1003</div>
                </div>
            </div>
        </div>
        <div class="row row-two">
            <div class="card-02">
                <div class="peep second">
                    <div class="box-01">
                        <img src="images/women/image-10.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1004</div>
                </div>
            </div>
            <div class="card-02">
                <div class="peep second">
                    <div class="box-01">
                        <img src="images/women/image-29.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1005</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-03">
                <div class="peep third">
                    <div class="box-01">
                        <img src="images/women/image-31.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1006</div>
                </div>
            </div>
            <div class="card-03">
                <div class="peep third">
                    <div class="box-01">
                        <img src="images/women/image-28.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1007</div>
                </div>
            </div>
            <div class="card-03">
                <div class="peep third">
                    <div class="box-01">
                        <img src="images/women/image-4.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1008</div>
                </div>
            </div>
        </div>
    </div>
    <!-- cards end -->
    <!--
    break start
    -->
    <div class="first-break">
        <blockquote>
            <hr />
            <p class="quote-1">Success is going from failure to failure without losing your enthusiasm</p>
            <p class="q1-author">-Winston Churchill</p>
            <hr />
        </blockquote>
    </div>
    <!--
    break end
    -->
    <!-- cards start -->
    <div class="container second">
        <div class="row">
            <div class="card-01">
                <div class="peep first">
                    <div class="box-01">
                        <img src="images/women/image-2.jpg" loading="lazy" />
                    </div>
                    <div class="circle-01"><a href="index.html"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1009</div>
                </div>
            </div>
            <div class="card-01">
                <div class="peep first">
                    <div class="box-01">
                        <img src="images/women/image-28.jpg" />
                    </div>
                    <div class="circle-01"><a href="women.html"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1010</div>
                </div>
            </div>
            <div class="card-01">
                <div class="peep first">
                    <div class="box-01">
                        <img src="images/women/image-31.jpg" />
                    </div>
                    <div class="circle-01"><a href="men.html"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1011</div>
                </div>
            </div>
        </div>
        <div class="row row-two">
            <div class="card-02">
                <div class="peep second">
                    <div class="box-01">
                        <img src="images/women/image-10.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1012</div>
                </div>
            </div>
            <div class="card-02">
                <div class="peep second">
                    <div class="box-01">
                        <img src="images/women/image-29.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1013</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-03">
                <div class="peep third">
                    <div class="box-01">
                        <img src="images/women/image-31.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1014</div>
                </div>
            </div>
            <div class="card-03">
                <div class="peep third">
                    <div class="box-01">
                        <img src="images/women/image-28.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1015</div>
                </div>
            </div>
            <div class="card-03">
                <div class="peep third">
                    <div class="box-01">
                        <img src="images/women/image-4.jpg" />
                    </div>
                    <div class="circle-01"><a href="#"><i class="fa-solid fa-play"></i></a></div>
                    <div class="my-name">Name</div>
                    <div class="id-num">n1016</div>
                </div>
            </div>
        </div>
    </div>
    <!-- cards end -->
</body>
</html>

@code {

}
