<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <meta name="description" content="789" />
    <title></title>
    <link rel="stylesheet" href="css/mw.css" />
</head>
<body class="women-page">
    <section class="content">
        <div class="groups new-comers">
            <div class="img-container">
                <div class="icon-left"><span>&lt;</span></div>
                <div class="new-text">new here</div>
                <div class="image one"><img src="images/women/image-2.jpg" /></div>
                <div class="image two"><img src="images/women/image-10.jpg" /></div>
                <div class="image three"><img src="images/women/image-4.jpg" /></div>
                <div class="image four"><img src="images/women/image-31.jpg" /></div>
                <div class="image five"><img src="images/women/image-7.jpg" /></div>
                <div class="icon-right"><span>&gt;</span></div>
            </div>
        </div>
        <div class="groups age-groups">
            <h1 class="18"><a href="template.html">18-21</a></h1>
            <h1 class="22"><a href="template.html">22-28</a></h1>
            <h1 class="29"><a href="template.html">29-42</a></h1>
            <h1 class="plus"><a href="template.html">++</a></h1>
            <div class="eighteen"></div>
            <div class="twenty-two"></div>
            <div class="twenty-nine"></div>
            <div class="forty-three"></div>
        </div>
    </section>
</body>
</html>
@code {

}
