@inherits LayoutComponentBase

<PageTitle>789</PageTitle>
<link rel="stylesheet" href="css/main.css" />
<div class="page">
    <main>
        <div class="login">
            <LoginDisplay />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
